
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 700px;
    margin-top: 50px;
}

body{
    background-color: antiquewhite;
}

 h2{

    text-align:center;
    color: rgb(52, 196, 188);
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: bold;
}
    

section {
   
    display: flex;
    justify-content: center;
   
}
form{
    margin-bottom: 50px;
}

section img{
    width: 200px;
    margin-right: 30px;
}

 section button{
    margin-top: 100px;
    width: 100px;
    padding: 20px ;
    font-size: 20px;
    background-color:rgb(52, 196, 188) ;
    color: #fff;
}

ul{
    color:rgb(52, 196, 188);
    margin-top: 50px;
    margin-right: 70px;
}
ul li{
    margin-bottom: 15px;
}
